
.container-fluid{
    background-color: #EAF6F6;
    padding: 0 0;
}
h2{
    text-align: center;
    padding-top: 15%;
    font-family: 'Sacramento', cursive;
    font-size: 60px;
    color: #11999E;
    font-weight: bold;
    
   
}
p{
    text-align: center;
    padding:0 10%;
    font-family: 'Montserrat', sans-serif;
    font-weight:900;
    
}

.big-img{
    width: 50%;
    margin-left: 23%;
}

.button{
    text-align: center; 
    padding: 5% 0%; 
}
.btn {
    -webkit-border-radius: 5;
    -moz-border-radius: 5;
    border-radius: 5px;
    color: #ffff;
    font-size: 21px;
    background: #11999E;
    padding: 5px 10px 5px 10px;
    text-decoration: none;
    margin: 2%;
  }
  
  .btn:hover {
    background: #66BFBF;
    text-decoration: none;
  }
