
.container-fluid{
    background-image: radial-gradient( circle farthest-corner at 12.3% 19.3%,  rgba(85,88,218,1) 0%, rgba(95,209,249,1) 100.2% );
    padding: 0 0;
}
h2{
    text-align: center;
    padding-top: 15%;
    font-family: 'Sacramento', cursive;
    font-weight: bold;
    font-size: 65px;
    background: -webkit-linear-gradient(rgb(240, 255, 106), rgb(251, 255, 43));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    
   
}
p{
    text-align: center;
    padding:0 10%;
    font-family: 'Montserrat', sans-serif;
    font-weight:900;
    color: #fff;
    
}

.big-img{
    width: 50%;
    margin-left: 23%;
}

.button{
    text-align: center; 
    padding: 5% 0%; 
}
.btn {
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    -webkit-border-radius: 5;
    -moz-border-radius: 5;
    border-radius: 5px;
    color: white;
    font-size: 17px;
    background: rgba(85,88,218,1);
    padding: 5px 10px 5px 10px;
    text-decoration: none;
    margin: 2%;
  }
  
  .btn:hover {
    background: #66BFBF;
    text-decoration: none;
  }
